body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro-100: #dadada;
  --color-gainsboro-200: #d6d8e4;
  --color-darkslategray-100: #14575e;
  --color-darkslategray-200: #263238;
  --color-darkslategray-300: #242c33;
  --color-black: #000;
  --color-gray-100: #271a3e;
  --color-ghostwhite: #f8f9fe;
  --color-dimgray: #4c526a;
  --color-lavender-100: #dee4ff;
  --color-lavender-200: #dee3fe;
  --color-cadetblue: #3ba0aa;
  --color-powderblue-100: #b8e6eb;
  --color-powderblue-200: #90d7de;
  --color-aliceblue-100: #edf5fd;
  --color-aliceblue-200: #e0eaf5;
  --color-lightsteelblue: #c4d7ec;
  --color-darkcyan-100: #3096a1;
  --color-lightcyan: #d4f1f4;
  --color-mediumseagreen-100: #1de0a3;
  --color-mediumseagreen-200: #0eca8f;
  --color-teal: #207078;

  /* border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-41xl: 60px;
}
